* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.4;
  background: #fff;
  color: #444;
}

.container {
  max-width: 500px;
  margin: 6rem auto 4rem;
  padding: 0 10px;
}

h1 {
  font-size: 23px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

input {
  border-radius: 8px;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1rem;
}

input {
  height: 40px;
  padding: 0.5rem 1rem;
  border: 1px solid #999;
}

input[type="submit"] {
  background-color: #000000;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  height: 40px;
  cursor: pointer;
}

input:focus {
  outline: none;
  border-color: #000000;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.navbar .links {
  margin-left: auto;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 23px;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  color: black;
}

textarea {
  height: 40px;
  padding: 0.5rem 1rem;
  border: 1px solid #999;
  border-radius: 8px;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1rem;
}

button {
  background-color: #000000;
  border-radius: 8px;
  color: #fff;
  padding: 0.5rem 1rem;
  height: 40px;
  cursor: pointer;
}

.ancor {
  color: #000000;
  text-decoration: none;
}
